<div ng-controller="calendarCtrl as calendar" ng-if="page.isAuthorized()"> 
<div class="container">
<nav class="navbar navbar-default" role="navigation">
 <ul class="nav nav-tabs" style="padding-left:30%">
  <li role="presentation"><a href="#" ng-click="calendar.removeAdminMenu()">Naptár</a></li>
  <li role="presentation"><a href="#" data-toggle = "modal" data-target = "#userModal">Profil</a></li>
  <li role="presentation"><a href="#" ng-click="calendar.addAdminMenu()">Adminisztráció</a></li>
  <li role="presentation"><a href="#" ng-click="page.logout()">Kilépés</a></li>
  <li role="presentation"><a href="#"><img src="/img/image_normal.jpg"></a></li>
</ul>
</div>
</nav>

<div class="container">
  <div class="selectcontainer">

      <div class="selector">
        <select ng-Cloak ng-model="calendar.projects.select" class="selectP form-control">
          <option ng-repeat="option in calendar.projects.avaible" value="{{option.id}}">{{option.title}}</option>
        </select>
      </div>

      <div class="selector">
      <color-picker ng-model="calendar.user.color"
     color-picker-disabled="false"
    color-picker-format="hsl"
    color-picker-alpha="true"
    color-picker-swatch="true"
    color-picker-swatch-pos="right"
    color-picker-swatch-only="true"
    color-picker-pos="'bottom right'"
    color-picker-case="lower"
    color-picker-on-change="calendar.changeColor()"
    class="colorp"
    ></color-picker>

    </div>
  </div>
</div>
<div class="container" >
<div class="col-lg-3" >
  <ul ng-Cloak><li ng-repeat="item in calendar.tasks"  data-toggle = "modal" data-target = "#task" ng-click="calendar.selectTask(item)">{{item.title}}</li></ul>
</div>

<div class="col-lg-6">
 <div id="calendar" ui-calendar="calendar.uiConfig.calendar" ng-model="calendar.eventSources"></div>
  </div>
  <div class="col-lg-3" style="text-align:center">
  <ul ng-Cloak><li ng-repeat="item in calendar.ProjectUsers">{{item}}</li></ul>
  </div>
</div>         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
</div>