<div ng-controller="calendarCtrl as calendar" ng-if="page.isAuthorized()"> 
<div class="container">
<nav class="navbar navbar-default" role="navigation">
 <ul class="nav nav-tabs" style="padding-left:30%">
  <li role="presentation"><a href="#" ng-click="calendar.adminMenu=!calendar.adminMenu">Adminisztráció</a></li>
  <li role="presentation"><a href="#" ng-bind="calendar.user.name" data-toggle = "modal" data-target = "#userModal"></a></li>
  <li role="presentation"><a href="#" ng-click="page.logout()">Kilépés</a></li>
</ul>
</div>
</nav>
<%- include('project') %>

<div class="container">
  <div class="selectcontainer">
      <div class="selector">
        <select ng-Cloak ng-model="calendar.projects.id" class="selectP form-control" ng-change="calendar.changeProject()">
          <option ng-repeat="option in calendar.projects.avaible" value="{{option._id}}">{{option.title}}</option>
        </select>
      </div>

      <div class="selector">
      <color-picker ng-model="calendar.user.color"
     color-picker-disabled="false"
    color-picker-format="hsl"
    color-picker-alpha="true"
    color-picker-swatch="true"
    color-picker-swatch-pos="right"
    color-picker-swatch-only="true"
    color-picker-pos="'bottom right'"
    color-picker-case="lower"
    color-picker-on-change="calendar.changeColor()"
    class="colorp"
    ></color-picker>

    </div>
  </div>
</div>
<div class="container" >
  <div class="col-lg-3">
<div class="col-lg-12" >
  <ul ng-Cloak>
    <h2> Elérhető</h2>
    <li ng-repeat="item in calendar.taskList.tasks"  data-toggle = "modal" data-target = "#task" ng-click="calendar.selectTask(item)">{{item.title}}</li>
    </ul>
</div>
<div class="col-lg-12" >
  <ul ng-Cloak>
    <h2>Kész </h2>
    <li ng-repeat="item in calendar.taskList.finished"  data-toggle = "modal" data-target = "#task" ng-click="calendar.selectTask(item)">{{item.title}}</li>
    </ul>
</div>
</div>
<div class="col-lg-6">
 <div id="calendar" ui-calendar="calendar.uiConfig.calendar" ng-model="calendar.taskList.eventSources"></div>
  </div>
  <div class="col-lg-3">
    <h2>Felhasználók</h2>
  <div class="col-lg-12" style="text-align:center">
  <ul ng-Cloak><li ng-repeat="item in calendar.projects.avaible[calendar.projects.selected].users">{{item}}</li></ul>
  </div>
  </div>
</div>      
<%- include('modal/taskModal') %>  
<%- include('modal/userModal') %>  
      </div><!-- /.modal-content -->