<!DOCTYPE html>
<html ng-app="login">
<head>
    <meta charset="UTF-8">
    <title>Icons</title>
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc2/angular-material.css'>
    <link rel="stylesheet" href="../css/page.css" />
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
    <script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc2/angular-material.js'></script>
    <script src="../js/project_naptar.js"></script>
    <script>Login.start()</script>

</head>
<body layout="column" layout-align="center center" >
        <div class="md-container" layout="column" layout-align="center" ng-controller="LoginCtrl as login" ng-cloak="">
            <div layout="row" class="show-buttons">
                <button flex class="md-raised md-button bordered" ng-click="login.loginPanel()">Belejentkezés</button>
                <button flex class="md-raised md-button bordered" ng-click="login.regPanel()">Regisztráció</button>
            </div>
            <form name="userForm" ng-submit="login.submit()">
                <div class="md-raised">
                    <div layout="row" layout-align="center" layout-padding="" ng-cloak="" class="inputIcons ">
                        <md-content class="md-no-momentum  bordered">
                            <md-input-container class="md-icon-float md-block">
                                <!-- Use floating label instead of placeholder -->
                                <label>Name</label>
                                <md-icon md-svg-src="img/icons/ic_person_black_24px.svg" class="name"></md-icon>
                                <input ng-model="login.user.name" type="text" ng-required="true">
                            </md-input-container>
                            <md-input-container class="md-block" ng-if="login.reg">
                                <md-icon md-svg-src="img/icons/ic_email_black_24px.svg" class="email"></md-icon>
                                <input ng-model="login.user.email" type="email" placeholder="Email" ng-required="true">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <!-- Use floating placeholder instead of label -->
                                <md-icon md-svg-src="img/icons/ic_lock_black_24px.svg" class="password"></md-icon>
                                <input ng-model="login.user.password" type="password" placeholder="password" name="password" ng-required="true">
                            </md-input-container>
            
                            <md-input-container class="md-block" ng-if="login.reg">
                                <!-- Use floating placeholder instead of label -->
                                <md-icon md-svg-src="img/icons/ic_home_black_24px.svg" class="adress"></md-icon>
                                <input ng-model="login.user.address" type="text" placeholder="adress" ng-required="true" name="pw2">
                            </md-input-container>
                            <button type="submit" class="md-raised md-button" ng-if="login.login">Bejelentkezés</button>
                            <button type="submit" class="md-raised md-button" ng-if="login.reg">Regisztráció</button>
                        </md-content>
                    </div>
                </div>
            </form>
    </div> 
       <!--
    Copyright 2016 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
    -->
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</body>

</html>

