<div class = "modal fade" id = "add_user" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
   <div class = "modal-dialog" style="width:400px">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
               ×
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
            Felhasználó hozzádása
            </h4>
         </div>
         
         <div class = "modal-body" style="text-align:center">
         <select class="btn btn-default"><option>Felhasználó 1</option></select>
         <br><button class="btn btn-default">Hozzáad</button>

         <br>
         Felhasználó n
         </div>            
            <button type = "button" class = "btn btn-primary">
               Submit changes
            </button>
         </div>
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->