<!-- Form for create or modify project -->
<div class = "modal fade" id = "project" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
   <div class = "modal-dialog" style="width:400px">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
               ×
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
            Új projekt
            </h4>
         </div>
         
         <div class = "modal-body">
           <div class="col-lg-12">
             Projekt Neve: 
              <input type="text" ng-if="calendar.projects.owner || calendar.projects.newP" ng-model="calendar.projects.selectedP.title"> </input>
              <label ng-bind="calendar.projects.selectedP.title" ng-if="!calendar.projects.owner && !calendar.projects.newP" />
           </div>
           <div class="col-lg-12">
             Leírás: 
             <input type="textfield" ng-if="calendar.projects.owner || calendar.projects.newP" ng-model="calendar.projects.selectedP.description"></input>
             <label ng-bind="calendar.projects.selectedP.description" ng-if="!calendar.projects.owner && !calendar.projects.newP" />
          </div> 
         </div>            
            <button type = "button" class = "btn btn-primary" ng-if="calendar.projects.owner || calendar.projects.newP" ng-click="calendar.updateProject()">
               Submit changes
            </button>
             <button type = "button" class = "btn btn-primary" ng-if="calendar.projects.owner && !calendar.projects.newP" ng-click="calendar.deleteProject()">
               Delete
            </button>
         </div>
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->