<!--Form for create or modify task -->
<div class = "modal fade" id = "task" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
   <div class = "modal-dialog" style="width:400px">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
               ×
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
            Új Feladat
            </h4>
         </div>
         
         <div class = "modal-body" style="text-align:center">
             <div class="col-lg-12">Project: {{controller.selectedTask.project}} </div>
         <div class="col-lg-12">Feladata neve: <input type="text" ng-model="controller.selectedTask.title" /> </div>
         <div class="col-lg-12" ng-if="controller.selectedTask.user">Felhasználó: {{controller.selectedTask.user}} </div>
         <div class="col-lg-12">Határidő:  <input type="text" ng-model="controller.selectedTask.start" /></div>
         <div class="col-lg-12"><input type="checkbox" ng-model="controller.selectedTask.finish">Kész</input></div>
         <div class="col-lg-12">Feladat Leírása:  <input type="text" ng-model="controller.selectedTask.description" /></div>
         </div>            
            <button type = "button" class = "btn btn-primary" ng-click="controller.updateTask()">
               Submit changes
            </button>
         </div>
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
   
</div><!-- /.modal -->
