<!--Feladata módositása vagy létrehozása -->
<div class="modal fade" id="task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class = "modal-dialog" style="width:400px">
		<form name="updateTask" ng-submit="calendar.updateTask()">
        	<div layout="row" layout-align="center" layout-padding="" ng-cloak="" class="inputIcons " style="width:400px">
            	<md-content class="md-no-momentum  bordered" style="width:400px">
					<!-- Project -->
					<md-input-container class="md-block">
						<label>Name</label>
            			<input ng-model="calendar.projects.avaible[calendar.projects.selected].title"
				 				type="text" 
								placeholder="Project" 
								name="title" 
								ng-required="true"
								ng-disabled="true">
           			</md-input-container>
					<!-- Title -->
					<md-input-container class="md-block">
            			<input ng-model="calendar.taskList.selectedTask.title"
				 				type="text" 
								placeholder="title" 
								name="title" 
								ng-required="true"
								ng-disabled="!calendar.projects.owner">
           			</md-input-container>
					<!-- user -->
					<md-input-container class="md-block" ng-if="calendar.taskList.selectedTask.user">
            			<input ng-model="calendar.taskList.selectedTask.user"
				 				type="text" 
								placeholder="user" 
								name="title" 
								ng-disabled="true">
           			</md-input-container>
					<md-checkbox ng-model="calendar.taskList.selectedTask.finished" 
					 			 aria-label="Kész"
								 ng-change="calendar.finishTask()"
								 ng-disabled="!calendar.taskList.selectedTask.user || (!calendar.projects.owner && !calendar.taskUser())">
            			Kész
          			</md-checkbox>
					  </br>
					<!-- date -->
					<md-datepicker ng-model="calendar.taskList.selectedTask.start" 
								   md-placeholder="start"
								   ng-disabled="!calendar.projects.owner">
					</md-datepicker>
		  	 		<!-- description -->
					<md-input-container class="md-block">
    	        		<textarea rows="6" cols="30" ng-model="calendar.taskList.selectedTask.description"
					 			type="text-area" 
								placeholder="description" 
								name="title" 
								ng-required="true"
								ng-disabled="!calendar.projects.owner">
						</textarea>
           			</md-input-container>
					<div style="text-align:center">
						<button type = "submit"
                    			class = "md-button"
                    			ng-if="calendar.projects.owner"/>
               				Save
            			</button>
            			<button type = "button" 
                    			class = "md-button"
                    			ng-click="calendar.removeUser(calendar.taskList.selectedTask)"
                    			ng-if="calendar.taskList.selectedTask.user && ( calendar.taskUser()  || calendar.projects.owner ) && !calendar.taskList.selectedTask.finished">
               				Lemond
            			</button>
            			<button type = "button" 
                    			class = "md-button" 
                    			ng-click="calendar.addUser(calendar.taskList.selectedTask)" 
                    			ng-if="!calendar.taskList.selectedTask.user && !calendar.taskList.newTask">
               				Elvállal
            			</button>
            			<button type = "button" 
                    			class = "md-button" 
                    			ng-click="calendar.deleteTask()" 
                    			ng-if="calendar.projects.owner && !calendar.taskList.newTask">
               				Törlés
            			</button>
         			</div>   
            	</md-content>
         	</div>
		</form>
	</div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
