<!--Form for create or modify task -->
<div class = "modal fade" id = "task" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
   <div class = "modal-dialog" style="width:400px">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
               ×
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
            Új Feladat
            </h4>
         </div>
         
         <div class = "modal-body" style="text-align:center">
             <div class="col-lg-12">
                 Project:
                 <label>{{calendar.projects.avaible[calendar.projects.selected].title}}</label>
         </div>
         <div class="col-lg-12">
             Feladata neve: 
                <input type="text" ng-model="calendar.taskList.selectedTask.title" ng-if="calendar.projects.owner"/> 
                <label ng-if="!calendar.projects.owner">{{calendar.taskList.selectedTask.title}}</label> 
         </div>
         <div class="col-lg-12" ng-if="calendar.taskList.selectedTask.user">Felhasználó: {{calendar.taskList.selectedTask.user}} </div>
         <div class="col-lg-12">
             Határidő:  <input type="text" ng-model="calendar.taskList.selectedTask.start" ng-if="calendar.projects.owner"/>
                       <label ng-if="!calendar.projects.owner">{{calendar.taskList.selectedTask.start}}</label> 
             </div>
         <div class="col-lg-12"><input type="checkbox" ng-model="calendar.taskList.selectedTask.finished">Kész</input></div>
         <div class="col-lg-12">
             Feladat Leírása: 
              <input type="text" ng-model="calendar.taskList.selectedTask.description"  ng-if="calendar.projects.owner"/>
              <label ng-if="!calendar.projects.owner">{{calendar.taskList.selectedTask.description}}</label> 
          </div>
         </div>            
            <button type = "button"
                    class = "btn btn-primary"
                    ng-click="calendar.updateTask(calendar.taskList.selectedTask)" 
                    ng-if="calendar.projects.owner"/>
               Submit changes
            </button>
            <button type = "button" 
                    class = "btn btn-primary"
                    ng-click="calendar.removeUser(calendar.taskList.selectedTask)"
                    ng-if="calendar.taskList.selectedTask.user && ( calendar.taskUser()  || calendar.projects.owner )">
               Lemond
            </button>
            <button type = "button" class = "btn btn-primary" ng-click="calendar.addUser(calendar.taskList.selectedTask)" ng-if="!calendar.taskList.selectedTask.user">
               Elvállal
            </button>
            
         </div>
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
