<!--Form for update user -->
<div class = "modal fade" id = "userModal" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
 <div class = "modal-dialog" style="width:400px">
      <div class = "modal-content" style="min-height:400px">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
               ×
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
            Felhasználó hozzádása
            </h4>
         </div>
            <div class="modal-body" id="userModalBody" style="width:300px;margin-left:40px">

        			<form role="form">
          			<div class="form-group">
            			<div class="input-group">
              			<input type="text" class="form-control" id="uLogin" placeholder="Name" ng-model="calendar.user.name">
              			<label for="uLogin" class="input-group-addon glyphicon glyphicon-user" ></label>
            			</div>
          			</div> <!-- /.form-group -->
          			
								<div class="form-group">
            			<div class="input-group">
              			<input type="password" class="form-control" id="uPassword" placeholder="Password"  ng-model="calendar.user.password">
              			<label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
            			</div> <!-- /.input-group -->
         			 </div> <!-- /.form-group -->

           		<div class="form-group">
            		<div class="input-group">
              		<input type="text" class="form-control" id="uAdress" placeholder="Adress" ng-model="calendar.user.address">
              		<label for="uAdress" class="input-group-addon glyphicon glyphicon-home" ></label>
            		</div> <!-- /.input-group -->
          		</div> <!-- /.form-group -->

 		          <div class="form-group">
    		        <div class="input-group">
        		      <input type="text" class="form-control" id="uDate" placeholder="email"  ng-model="calendar.user.email">
           		   <label for="uPDate" class="input-group-addon glyphicon glyphicon-envelope"></label>
            		</div> <!-- /.input-group -->
         	 	</div> <!-- /.form-group -->
          	<button class="btn btn-default" ng-click="calendar.updateUser()">Save</button>
        	</form>
            </div>
            </div>
</div>
</div>