<!--Felhasználói adatok módoszutása -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	<div class = "modal-dialog">
    	<form name="updateUser" ng-submit="calendar.updateUser()">
        	<div layout="row" layout-align="center" layout-padding="" ng-cloak="" class="inputIcons " style="width:300px">
            	<md-content class="md-no-momentum  bordered" style="width:300px">
					<!-- username-->
                	<md-input-container class="md-icon-float md-block">
						<label>Name</label>
                        <md-icon md-svg-src="img/icons/ic_person_black_24px.svg" class="name"></md-icon>
                        <input ng-model="calendar.user.name" type="text" ng-required="true">
                    </md-input-container>
					 <!-- email -->
                    <md-input-container class="md-block">
                     	<md-icon md-svg-src="img/icons/ic_email_black_24px.svg" class="email"></md-icon>
                        <input ng-model="calendar.user.email" type="email" placeholder="Email" ng-required="true">
                    </md-input-container>
					<!-- password -->
                    <md-input-container class="md-block">
                    	<md-icon md-svg-src="img/icons/ic_lock_black_24px.svg" class="password"></md-icon>
                        <input ng-model="calendar.user.password" type="password" placeholder="password" name="password" ng-required="true">
                    </md-input-container>
            		<!-- address -->
                    <md-input-container class="md-block">
                    	<md-icon md-svg-src="img/icons/ic_home_black_24px.svg" class="adress"></md-icon>
                        <input ng-model="calendar.user.address" type="text" placeholder="adress" ng-required="true" name="pw2">
                    </md-input-container>
					<!-- submit -->
					<div style="text-align:center">
                    	<button type="submit" class="md-button" >Mentés</button>
					</div>
				</md-content>
			</div> <!-- layout -->
		</form>
	</div> <!-- /.modal dialog -->
</div> <!-- /.modal -->
  



